body {
    font-weight: bold;
    height: 100vh;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.std {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.militia {
    align-items: center;
    text-align: center;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

input,
button {
    max-width: 150px;
    padding: 5px;
    font-size: 18px;
}

button {
    border: none;
    background: greenyellow;
    margin-top: 10px;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
}

p {
    color: red;
    height: 15px;
    font-size: 21px;
}

h1 {
    color: #09203f;
}

.outputs {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
    width: 500px;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
    width: 550px;
}

.input {
    text-align: center;
}

.output {
    text-align: center;
    display: flex;
    flex-direction: column;
}