* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: bold;
    height: 100vh;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.std {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.militia {
    align-items: center;
    text-align: center;
}

header {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l1,
.l2,
.l3,
.l4,
.l5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    max-width: 150px;
    padding: 5px;
    font-size: 18px;
}

button {
    border: none;
    color: #dfe9f3;
    background: #09203f;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 18px;
    max-width: 150px;
    padding: 0.5em;
}

button:hover {
    color: black;
    background: #dfe9f3;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
}

p {
    color: red;
    height: 15px;
    font-size: 21px;
}

h1,
h3 {
    color: #09203f;
    border-style: solid;
    border-color: #09203f;
    border-width: 0 0 1px 0;
    max-width: fit-content;
}

.outputs {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    justify-content: space-evenly;
}

.inputs {
    justify-content: space-evenly;
}

.input {
    text-align: center;
}

.output {
    text-align: center;
    display: flex;
}

#calculate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    justify-content: flex-start;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
    display: flex;
    align-self: flex-start;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bolder;
}

@media (max-width: 800px) {
    .line1,
    .line2,
    .line3,
    .line4,
    .line5,
    .line6 {
        position: relative;
        left: 10px;
    }
}